@model WebApp.Dto.SearchParamDto
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<section>
    <h2> Seed New Book By Title </h2>
    <p>Type book title and click submit.The book you are looking for will be created in a couple of minutes </p>
    <div class="container">
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                        <h1>Create Book</h1>
                        <p class="text-h3"> LocalLibrary Web Application </p>
                    </div>
                </div>
                <form method="post" asp-action="Search">
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row justify-content-start mt-4">
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
