@model WebApp.Models.CreateModel.CreateAuthorModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<title>Create-Author</title>
<section>
    <div class="container">
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                        <h1>Create Author</h1>
                        <p class="text-h3"> LocalLibrary Web Application </p>
                    </div>
                </div>
                <form method="post" asp-action="Create">
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input asp-for="Name" type="text" class="form-control" placeholder="First Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input asp-for="DateOfBirth" type="text" class="form-control" placeholder="Date Of Birth">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input asp-for="DateOfDeath" type="password" class="form-control" placeholder="Date of Death">
                            <span asp-validation-for="DateOfDeath" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
